nav.navigation {
    border-radius: 0;
    padding: var(--padding-md) 0;
    margin-bottom: var(--padding-lg);
    height: 7vw;
}

nav.navigation ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style-type: none;
}

nav.navigation ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navigation a {
    color: var(--white);
    text-decoration: none;
    margin: 0 15px;
    transition: var(--transition);
}

nav.navigation a:hover {
    color: var(--green3);
}