.add-timer {
    color: var(--white);
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.add-timer-container {
    padding: var(--padding-md);
}

.add-timer .timer-placeholder-summary {
    margin-top: var(--padding-lg);
    padding: var(--padding-md);
}

.add-timer .timer-placeholders {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    column-gap: 10px;
    justify-content: space-between;
    row-gap: 10px;
    margin-bottom: 15px;
}

.add-timer .timer-placeholder {
    padding: var(--padding-xs);
    text-align: center;
    border-radius: var(--border-radius-xs);
}

.add-timer h2 {
    text-align: center;
}

.add-timer .add-timer-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-sm);
}

.add-timer .add-timer-wrapper > * {
    width: 45%;
}

.add-timer .timer-options > *:not(:last-child) {
    margin-bottom: 15px;
}

.add-timer .timer-data {
    border-radius: var(--border-radius-sm);
    padding: var(--padding-xs) var(--padding-md);
}

@media screen and (max-width: 800px) {
    .add-timer {
        width: 90vw;
    }

    .add-timer .timer-placeholders {
        width: 80vw;
        grid-template-columns: repeat(3, 26vw);
    }

    .add-timer .add-timer-wrapper {
        flex-direction: column;
    }


    .add-timer .timer-options {
        margin-bottom: 15px;
    }

    .add-timer .add-timer-wrapper > * {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .add-timer .timer-placeholders {
        grid-template-columns: repeat(2, 38vw);
    }
}