.time-chooser .chooser,
.time-chooser .chooser-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.time-chooser .minute-chooser {
    padding: 10px 0;
}

.chooser-buttons {
    width: 90px;
    border: 1px solid var(--purple3);
    border-radius: var(--border-radius-xs);
}

.chooser-buttons > * {
    width: 30px;
    text-align: center;
}

.chooser-buttons > .chooser-amount {
    border-left: 1px solid var(--purple3);
    border-right: 1px solid var(--purple3);
}