.time-chooser .chooser,
.time-chooser .chooser-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.time-chooser .minute-chooser {
    padding: var(--padding-sm) 0;
}

.chooser-buttons {
    width: 120px; /* 3 x 40px */
    border: 1px solid var(--purple4);
    border-radius: var(--border-radius-xs);
}

.chooser-buttons > * {
    min-width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--transition);
}

.chooser-buttons > .chooser-amount {
    border-left: 1px solid var(--purple4);
    border-right: 1px solid var(--purple4);
}

.chooser-buttons .button:hover {
    color: var(--purple4);
}