.workout {
    padding: var(--padding-lg) 0;
    color: var(--white);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.workout-container {
    display: flex;
    flex-flow: row nowrap;
    width: 90vw;
}

.workout .workout-time-container {
    padding: var(--padding-sm);
    margin-bottom: 25px;
    width: 30vw;
    margin-right: var(--padding-sm);
    height: calc(100% - 20px);
    min-height: calc(100vh - 70px - 7vw);
}

.workout .workout-time-container.is-sticky {
    position: fixed;
    top: 10px;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.workout .workout-time {
    border-radius: var(--border-radius-sm);
    margin-bottom: 15px;
    padding: var(--padding-lg) 0;
}

.workout .workout-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout .workout-buttons {
    display: flex;
    flex-flow: column nowrap;
}

.workout .workout-buttons > .button {
    margin-top: 10px;
}

.workout .workout-buttons > * {
    width: 100%;
}

.workout .workout-wrapper {
    padding: 0 0 var(--padding-lg) 0;
    width: calc(60vw - 15px);
    margin-left: auto;
}

.workout .workout-empty {
    padding: var(--padding-xl) 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout .workout-empty > *:not(:last-child) {
    padding-bottom: var(--padding-lg);
}

@media screen and (max-width: 768px) {
    .workout-container {
        flex-direction: column;
    }

    .workout .workout-time-container {
        width: 100%;
        margin-right: 0;
        min-height: 0;
    }

    .workout .workout-time-container.is-sticky {
        position: static;
    }

    .workout .workout-wrapper {
        padding: 0 0 var(--padding-lg) 0;
        width: 100%;
        margin-left: 0;
    }

    .workout .workout-buttons {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .workout .workout-buttons > .button {
        margin-top: 0;
    }
    
    .workout .workout-buttons > * {
        width: 26vw;
    }
}