.workout {
    padding: 25px 0;
    color: var(--white);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.workout .workout-time-container {
    padding: 15px;
}

.workout .workout-time {
    border-radius: var(--border-radius-sm);
    margin-bottom: 15px;
    padding: 25px 0;
}

.workout .workout-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout .workout-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.workout .workout-buttons > * {
    width: 24vw;
}

.workout .workout-wrapper {
    padding: 25px 0;
}

.workout .workout-empty {
    padding: 50px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout .workout-empty > *:not(:last-child) {
    padding-bottom: 25px;
}