.documentation {
    color: var(--white);
    width: 70vw;
    padding: var(--padding-md);
    margin: var(--padding-xl) auto;
}

.documentation > div > p {
    padding-bottom: var(--padding-xs);
}

.documentation a {
    color: var(--green3);
    transition: color var(--transition);
}

.documentation a:hover {
    color: var(--purple4);
}

.documentation table {
    width: 100%;
    margin-top: var(--padding-md);
    border-collapse: collapse; 
    border: none;
}

.documentation table thead {
    border-bottom: 1px solid var(--purple4);
    text-align: left !important;
}

.documentation table th, 
.documentation table td {
    padding: var(--padding-sm);
}