@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --black: #161618; 
    --white: #FEFEFE;
    --color-brown1: #332000;
    --color-brown2: #805000;
    --color-brown3: #FFA001;
    --color-gray1: #1C1C1E;
    --color-gray2: #28282b;
    --color-gray3: #4C4C4C;
    --color-gray4: #DBDBDB;

    --green1: #0D4612;
    --green2: #8DD493;

    --gray1: #171717;
    --gray2: #212121;
    --gray3: #838383;
    --gray4: #D4D4D4;

    --red1: #680909;

    --brown1: #3D2808;
    --brown2: #A4680C;
    --brown3: #EB9511;

    --color-red1: #8F0617;

    --transition: 300ms ease-in-out;

    --size-xs: 0.7rem;
    --size-sm: 0.9rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 5rem;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    text-transform: lowercase;
}

code {
    font-family: 'Poppins', monospace;
    font-weight: 700;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    background: var(--white);
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--gray2);
}

.text-xs {
    font-size: var(--size-xs);
}

.text-sm {
    font-size: var(--size-sm);
}

.text-md {
    font-size: var(--size-md);
}

.text-lg {
    font-size: var(--size-lg);
}

.gray3 {
    color: var(--gray3);
}