@font-face {
    font-family: "SF";
    src: url('./assets/fonts/SF-Pro.ttf') format("truetype");
}

@font-face {
    font-family: "SF Italic";
    src: url('./assets/fonts/SF-Pro-Italic.ttf') format("truetype");
}

:root {
    /* colors */
    --black: #04000D; 
    --white: #FEFEFE;
    --green1: #1C260F;
    --green2: #374b1d;
    --green3: #87B948;
    --purple1: #190F26;
    --purple2: #251638;
    --purple3: #311d4b;
    --purple4: #8437e8;
    --red1: #4b1d21;
    --brown1: #3D2808;
    --brown2: #A4680C;
    --brown3: #EB9511;

    --transition: 300ms ease-in-out;

    --size-xs: 0.7rem;
    --size-sm: 0.9rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 4rem;
    --size-xxl: 5rem;

    --border-radius-md: 16px;
    --border-radius-sm: 12px;
    --border-radius-xs: 6px;
}

body {
    margin: 0;
    font-family: 'SF', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    text-transform: lowercase;
}

code {
    font-family: 'SF Italic', monospace;
    font-weight: 700;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
    overflow: hidden;
    position: relative;
}

.text-xs {
    font-size: var(--size-xs);
}

.text-sm {
    font-size: var(--size-sm);
}

.text-md {
    font-size: var(--size-md);
}

.text-lg {
    font-size: var(--size-lg);
}

.text-xl {
    font-size: var(--size-xl);
}

.text-center {
    text-align: center;
}

.gray3 {
    color: var(--purple3);
}

.blurred {
    background: rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius-md);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.blurred-active {
    background: rgba(25, 15, 38, 0.3);
    border: 1px solid rgba(25, 15, 38, 0.25);
}